.AllSongs {
  margin-top: 2rem;
  display: grid;
  justify-content: center;

  h1 {
    font-size: 4rem;
  }

  .List-Of-Songs {
    display: grid;
    justify-content: center;

    .song-list {
      background-color: rgb(230, 230, 230);
      padding: 10px;
      padding-left: 20px;
      margin: 5px;
      border-radius: 20px;
      width: 600px;
      transition: 0.2s;
    }

    .song-list:hover {
      background-color: rgb(255, 60, 92);
      padding-top: 10px;
      padding-bottom: 50px;
      color: white;
      cursor: pointer;
    }
  }
}