.NavMenu {
  display: grid;
  justify-content: center;

  nav {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
  
    a {
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-size: 1rem;
      padding: 10px;
      border-radius: 10px;
      transition: 0.2s;
      text-transform: uppercase;
      letter-spacing: 5px;
    }
  
    a:hover {
      color: orangered;
    }
  }
}

