.SheetMusic {
  header {
    display: grid;
    justify-content: center;
    gap: 0px;
    margin: 20px;

    h1 {
      margin: 0;
    }
    p {
      margin: auto
    }
  }

  .Lyrics-Chords {
    background-color: pink;
    width: 500px;
    margin: auto;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;

    .chord-line {
      display: flex;
      font-weight: bold;
      color: rgb(0, 145, 218);

      pre {
        margin-bottom: 0px;
      }
    }
  }
}