@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.SheetMusic {
  .SheetNavBar {
    position: fixed;
    left: 2rem;
    top: -2rem;
  }

  header {
    display: grid;
    justify-content: center;
    gap: 0px;
    margin: 20px;
    position: fixed;
    top: 6rem;
    right: 50%;
    

    h1 {
      margin: 10px;
      font-size: 4rem;
    }

    .controls {
      display: flex;
      justify-content: right;
      gap: 20px;
      align-items: center;


      p {
        font-size: 1.5rem;
      }

      .material-symbols-outlined:hover {
        cursor: pointer;
        color: rgb(255, 60, 92);
      }
    }

  }

  .Lyrics-Chords {
    width: 500px;
    margin-left: 60%;
    margin-top: 5rem;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;

    .chord-line {
      display: flex;
      font-weight: bold;
      color: rgb(0, 145, 218);

      pre {
        margin-bottom: 0px;
      }
    }
  }

  .PianoSection {
    position: fixed;
    top: 20rem;
    right: 50%;
    bottom: 10px;
  }
}